{% extends 'authentication/base.html' %}


{% block main %}
<div class="login">
    <form method = "POST" class = "form">{% csrf_token %}
        {{ form.as_p }}
        <button type = "submit" class = "save btn btn-default">Login</button> <p> or click
            <a href="{% url 'register' %}">register</a> to create user.</p>
    </form>
    <p>You may login as <span style="font-weight: bold;">abzuser</span> with the
        <span style="font-weight: bold;">password_of_abzuser</span> to have permissions to browse extend functions.</p>
    <p>Return to the <a href="">base table page</a></p>
</div>
{% endblock %}