{% extends 'authentication/base.html' %}

{% block navbar %}

 <form id="aj_form" action="" >{% csrf_token %}
     <p><label for="username">username</label><input type="text" name="username" id="username"></p>
     <p><label for="password">password</label><input type="password" name="password" id="password"></p>
     <p><label for="product_code">product code</label><input type="text" name="product_code" id="product_code"></p>
     <p><label for="category">category id</label><input type="text" name="category_id" id="category"></p>
     <p><label for="quantity">quantity</label><input type="text" name="quantity" id="quantity"></p>
     <p><label for="cart_item_id">cart_item_id</label><input type="text" name="id" id="cart_item_id"></p>
     <p><label for="page">page</label><input type="text" name="page" id="page"></p>
     <input type="hidden" name="url" id="url" value="actions">
     <select  name="action" id="action" >
         <option value="catalog">catalog</option>
         <option value="search">search</option>
         <option value="add_to_cart">add to cart</option>
         <option value="to_reserve">add to reserve</option>
         <option value="product_detail">product detail</option>
         <option value="get_cart">get cart</option>
         <option value="del_from_cart">del from cart</option>
         <option value="cart_to_order">make order</option>
         <option value="login">login</option>
         <option value="logout">logout</option>
     </select>
     <p>Search</p>
     <input type="text" name="search_text" id="search_text">
     <button type="button" id="btn">Apply</button>
 </form>

{% endblock %}

