<!DOCTYPE html>
{%load static%}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script type="text/javascript" src="{% static 'js/jquery-3.3.1.min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/ajax.js' %}"></script>
    <title>Shop</title>
</head>
<body>
<p>{{product.code}}{{product.name}} <a href="{% url 'add' %}?customer_id={{customer.id}}&product_id={{product.code}}&quantity=1">Add to Cart</a> </p>
 <form id="aj_form" action="" >{% csrf_token %}
     <p><label for="customer">customer id</label><input type="text" name="customer_id" id="customer"></p>
     <p><label for="product">product code</label><input type="text" name="product_code" id="product"></p>
     <p><label for="quantity">quantity</label><input type="text" name="quantity" id="quantity"></p>
     <p><label for="cart_item_id">cart_item_id</label><input type="text" name="cart_item_id" id="cart_item_id"></p>
     <p><label for="url">url</label><input type="text" name="url" id="url"></p>
     <button type="button">Apply</button>
 </form>


<p>{{product.price}}</p>
<img src="{{product.photo.url}}">
<p>{{product.description}}</p>
<div id="aj_ch"><p></p>
</div>
</body>
</html>